@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* NAVIGATION BAR #1 */

* {
    font-family: "Lato", serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.link__hover-effect--white:after {
    background-color: #fff;
}

.link__hover-effect--black:after {
    background-color: #000;
}
    
li {
    list-style-type: none; /* removes bullet point */
}


nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    font-weight: 700;

}

.nav__link--anchor-primary {
    background-color: #38bdf8;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease; /* smooths out the transition */
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #38bdf8;
    margin: 0 12px;
    font-weight: bold;

}
